

/* star in home page */
#home-page{
    overflow-x: hidden;
}

#stars {
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    top: 86.5px;
    left: 0;
    right: 0;
    bottom: 90px;
    z-index: 2;
}

@keyframes star-fall {
    0% {
      opacity: 0;
      transform: scale(0.5) translate3d(0, 0, 0);
    }
    50% {
      opacity: 1;
      transform: translate3d(-200px, 200px, 0);
    }
    100% {
      opacity: 0;
      transform: scale(1.2) translate3d(-300px, 300px, 0);
    }
}

.star {
    display: block;
    width: 1px;
    background: transparent;
    position: relative;
    opacity: 0;
    /*过渡动画*/ 
    animation: star-fall 3s linear infinite;
}

.star:after {
    content: '';
    display: block;
    border: 0px solid #fff;
    border-width: 0px 90px 2px 90px;
    border-color: transparent transparent transparent rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, .1);
    /*变形*/       
    transform: rotate(-45deg) translate3d(1px, 3px, 0);
}

/* starry night on home page */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.starry, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.starry {
  background:rgba(0, 0, 0, 0.95) url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  animation:move-twink-back 200s linear infinite;
}

/* style of secondary navigation in home page */
aside{
    background: linear-gradient(to bottom, rgba(86, 128, 233, 0.904), rgba(83, 29, 128, 0.842));
    position: absolute;
    z-index: 20;
    max-width: 30%;
    left: 8%;
    top: 15%;
    border-radius: 10px;
}

#secondary-nav ul{
    list-style-type: none;
    margin-left: -40px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

#secondary-nav li{
    padding: 10px 0 10px 0;
}

#secondary-nav a{
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: white;
    transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

#secondary-nav a:hover{
    color: orange;
    font-size: 20px;
}


/* Style of main in main page */
#home-page main{
    position: relative;
    background: linear-gradient(to bottom, rgba(22, 18, 83, 0.993), rgba(30, 78, 211, 0.966));
    min-height: 400px;
} 

#fox{
    position: absolute;
    z-index: 20;
    right: 5%;
    bottom: 2%;
}

#fox img{
    max-height: 110px;
}

#prince{
    position: absolute;
    z-index: 20;
    right: 8%;
    bottom: -28px;
}

#prince img{
    max-height: 450px;
}

/* large screen */
@media all and (min-width: 900px){
    #home-page main{
        min-height: 420px;
    }
}
