main, aside{
    background-color: rgba(243, 240, 231, 0.5);
    font-family: 'Shadows Into Light', cursive;
}

/* style of video in more-information page */
.video{
    flex: 1 1;
    padding: 5px;
}

#call_for_help, h2, h4{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#call_for_help h2,#call_for_help p, #call_for_help h4, h2{
    padding-bottom: 5px;
}

#read_more h4{
    padding-left: 20px;
}

#read_more{
    background-color: rgba(163, 205, 241, 0.5);
    padding: 7px;
    margin-bottom: 10px;
}

#call_for_help p{
    padding-left: 10px;
}

/* large screen */
@media all and (min-width: 650px){   
    main {flex: 2.5;}
    aside {flex: 1.5;}

    /* video in "more" */
    .video{flex: 1 100%;}

}